{% extends "cv/partials/layout.html" %}

{% load sass_tags %}

{% block css %}
    <link rel="stylesheet" media="all" href="{% sass_src 'cv/css/error.scss' %}" />
{% endblock css %}

{% block js %}
{% endblock js %}

{% block content %}
    <div class="container">
        <h1>{{ error_code }}</h1>
        <p>{{ error_detail }}</p>
        <a href="{% url 'cv:index' %}" id="backHome" class="btn btn-blue btn-icon-home" title="Retour au site">Retourner sur le site</a>
    </div>
{% endblock content %}
