//
// GLOBAL
//

$border-radius: 3px;
$transition-duration: 0.4s;

/**
 * COLORS
 */

$color-blue   : #16a6b6;
$color-green  : #b3cf46;
$color-yellow : #F8C93D;
$color-red    : #fd6a62;

$color-text   : #999;
$color-bg     : #EFF1F3;

$sectionsColors : (
	"blue"   : #16a6b6,
	"green"  : #b3cf46,
	"yellow" : #F8C93D,
	"red"    : #fd6a62,
);
$colors : map_merge(
	(
		"text" : #999,
		"bg"   : #EFF1F3
	),
	$sectionsColors
);

/**
 * FONTS
 */

$font-titles : "bebas";
$font-texts  : "ubuntu";
$font-icons  : "basics_icons";
$font-size: 16px;
$font-size-h1: 64px;
$font-size-h2: 32px;
$font-size-h3: 40px;
$font-size-h4: 24px;
$font-size-h5: 24px;
$font-size-h6: 20px;

$font-icons-map : (
	"twitter"  : 't',
	"linkedin" : 'l',
	"github"   : 'g',
	"download" : 'd',
	"viadeo"   : 'o'
);

/**
 * GUTTER AND BREAKPOINTS
 */

$gutter      : 25px;
$breakpoints : 768px 992px 1200px;

/**
 * BUTTONS PLUGIN
 */

$button-height      : 50px;
$button-color       : white;
$button-font        : $font-titles;
$button-font-size   : 20px;
$button-border-radius: $border-radius;
$button-transition-duration: $transition-duration;
$button-bgColorsMap : $sectionsColors;

$button-icon-font      : $font-icons;
$button-icon-font-size : 30px;
$button-icon-padding   : 75px;
$button-icon-map : (
	"twitter"  : 't',
	"linkedin" : 'l',
	"github"   : 'g',
	"download" : 'd',
	"viadeo"   : 'o',
	"home"     : 'h',
	'docker'   : 'k',
);

/**
 * MODALS PLUGIN
 */

$modal-height: 100%;
$modal-width: 100%;
$modal-background-color: $color-bg;
$modal-color-map: $sectionsColors;
$modal-header-title-size: 45px;
$modal-content-gutter-size: $gutter;
$modal-close-font-size: 25px;
$modal-close-font-family: $font-icons;
$modal-close-gutter-size: 10px;
$overlay-background-color: rgba($color-text, 0.9);

/**
 * ALERTS PLUGIN
 */

$alert-font  : $font-texts;
$alert-types : (
	"info"    : color("blue"),
	"success" : color("green"),
	"warning" : color("yellow"),
	"error"   : color("red")
);
$alert-border-radius: $border-radius;
$alert-animation-duration: $transition-duration * 2;
$alert-transition-duration: $transition-duration;

//
// BAR PLUGIN
//

$bar-border-radius: $border-radius;
$bar-border-size: 2px;
