*{
    margin:0;padding:0;
    border:none;
    text-decoration: none;
    box-sizing: border-box;
    font-style: normal;
    color: inherit;
    background-color: transparent;
}

:-moz-ui-invalid {
    box-shadow:none;
}
