#up{
    @include fixed(bottom -50px right 50px);
    @include size(50px);
    border-radius: 50%;
    background-color : $color-text;
    font-family: $font-icons;
    font-size: $font-size;
    line-height: 50px;
    text-align: center;
    color:white;
    transition: bottom $transition-duration ease,
                background-color $transition-duration ease;
    &.display{bottom:50px;}
    &:hover{
        background-color: darken($color-text, 5%);
    }
}
