h1{
    @include font-titles;
    font-size: 100px;
    color:$color-blue;
    text-align: center;
}

p{
    color:$color-text;
    font-family: $font-texts;
    font-size: 20px;
    text-align: center;
}

#backHome{
    display: block;
    margin: $gutter auto;
    @include size(width 250px);
}
