#realisations, #github{
    @include inline-block(top);
    padding: $gutter;
    @include breakpoint-tiny-small{
        width:100% !important;
    }
}

#realisations{
    @include size(width 60%);
}

#github{
    @include size(width 40%);
}

.realisations_container{
    font-size: 0;
}

.realisation{
    @include size(width 100%);
    margin-top: $gutter;
    margin-bottom: -55px;
    &.offline{ opacity:0.5;}
}

.realisation-header {
    @include relative();
    @include size(width 100% height 50px);
    z-index: 2;
    background-color: $color-green;
    border-radius: 5px;
    > h5{
        @include size(width 50%);
        padding-left: 25px;
        line-height: 50px;
        color : white !important;
        border-bottom-width: 0px;
        border-radius: 5px;
    }
    .links {
        @include absolute(top 0 right 0);
        @include size(width 50% height 100%);
        text-align: right;
        margin-right: $gutter;
    }
    .link {
        @include inline-block(middle);
        @include size(width 25px height 50px);
        font-family: $font-icons;
        font-size: 25px;
        line-height: 50px;
        text-align: center;
        color: white;
        margin-left: $gutter/2;
    }

    transition: border-radius 0.5s ease;
    .realisation-show & {
        border-radius: 5px 5px 0 0;
    }
}

.realisation-body {
    box-sizing: content-box;
    z-index: 1;
    @include relative(top -50px);
    @include size(height 0px);
    background-color: white;
    border-radius: 5px;
    border: 3px solid $color-green;
    transition: height 0.5s ease;
    overflow: hidden;
    padding: 47px $gutter 0 $gutter;
}

.realisation-description {
    margin-top: $gutter;
    font-family: $font-texts;
    font-size: 18px;
    color: $color-text;
    text-align: justify;
}

.realisation-technologies {
    display: flex;
    flex-wrap: wrap;
    margin: $gutter 0;
    margin-right: -$gutter/4;
}
.realisation-technology{
    flex: 1 0 auto;
    @include size(height 31px);
    border-radius: 5px;
    background-color: $color-green;
    border : 3px solid $color-green;
    margin-right: $gutter/4;
    margin-bottom: $gutter/4;
    text-align: center;
}

.realisation-toggle {
    display: block;
    @include size(width 40px height 40px);
    @include relative(top -65px);
    margin: 0 auto;
    background-color: $color-green;
    padding-top: 20px;
    transition: transform 0.5s ease;
    p {
        text-align: center;
        color: white;
        font-family: $font-icons;
        font-size: 18px;
        transition: transform 0.5s ease;
        .realisation.collapsed & {
            transform: rotate(180deg);
        }
    }
    &:hover{
        cursor: pointer;
        transform: translate3d(0,5px,0);
    }
    &:after{
        content: "";
        display: block;
        @include relative(top -1px);
        @include size(0);
        border-top: 20px solid;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        color:$color-green;
    }
    &:focus { outline: none;}
}

.repository{
    margin-top: $gutter;
    mark{
        font-family: $font-icons;
        margin-right: 5px;
    }
    p {
        color:$color-text;
        font-family: $font-texts;
    }
    .summary{
        display: block;
        border-bottom: 1px solid;
        em{margin-right:$gutter/2;}
        font-size: 12px;
    }
    .description{
        font-size: 18px;
    }
}

#linkGithub{
    display: block;
    @include size(width 250px);
    margin: $gutter auto 0;
}
