#photo {
    @include inline-block(middle);
    @include size(width 100%);
    border-radius: 50%;
    padding: $gutter;
    @include breakpoint-small{
        @include size(width 50%);
        margin-left: 25%;
    }
    @include breakpoint-medium-large{
        @include size(width 40%);
    }
}

#presentation{
	@include inline-block(middle);
	@include size(width 100%);
	@include breakpoint-medium-large{
		@include size(width 60%);
	}
	padding: $gutter;
    font-size: $font-size;
    color:$color-text;
    font-family: $font-texts;
    text-align: justify;
    a{
    	color:$color-blue;
    }
}
