<section id="contact">
    <h3>Comment me contacter ?</h3>
    <section id="social">
        <h4>Sur les réseaux sociaux</h4>
        {% if resume.linkedin %}
            <a href="{{ resume.linkedin }}" class="btn btn-red btn-icon-linkedin" title="Se rendre sur mon profil Linkedin">Linkedin</a>
        {% endif %}
        {% if resume.github %}
            <a href="{{ resume.github }}" class="btn btn-red btn-icon-github" title="Se rendre sur mon profil Github">Github</a>
        {% endif %}
        {% if resume.docker %}
            <a href="{{ resume.docker }}" class="btn btn-red btn-icon-docker" title="Se rendre sur mon profil Docker">Docker</a>
        {% endif %}
        {% if resume.twitter %}
            <a href="{{ resume.twitter }}" class="btn btn-red btn-icon-twitter" title="Se rendre sur mon profil Twitter">Twitter</a>
        {% endif %}
    </section>
    <form id="contact_form" action="{% url 'cv:contact' %}" method="POST">
        <h4>Par email</h4>
        {% csrf_token %}
        {{ contact_form.as_p }}
        <div id="contact_form_unlocker" class="unlocker">
            <p>Envoyer</p>
            <div class="thumb"></div>
        </div>
        <input type="submit" id="contact_form_submit">
    </form>
</section>

