<section id="folio">
    <h3>Quelles sont mes réalisations ?</h3>
    <section id="realisations">
        <h4>Projets réalisés</h4>
        <div>
            {% for project in projects %}
                <a href="{{ project.url }}" class="realisation">
                    <h4>{{ project.name }}</h4>
                </a>
            {% endfor %}
        </div>
    </section><!--
    --><section id="github">
        <h4>Dépôts Github</h4>
        <div id="repositories">
            <div class="loader"></div>
        </div>
        <a href="https://github.com/AlexandreCollet" id="linkGithub" class="btn btn-green btn-icon-github" title="Se rendre sur mon profil Github">Voir mon profil Github</a>
    </section>
</section>
