<section id="folio">
    <h3>Quelles sont mes réalisations ?</h3>
    <section id="realisations">
        <h4>Projets réalisés</h4>
        <div class="realisations_container">
            {% for project in projects %}
                <div class="realisation">
                    <h5>{{ project.name }}</h5>
                    <div class="links">
                        {% for link in project.links.all %}
                            <a href="{{ link.url }}" class='link'>{{ link.icon }}</a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section><!--
    --><section id="github">
        <h4>Dépôts Github</h4>
        <div id="repositories">
            {% for repository in repositories %}
                <div class="repository">
                    <p class="summary">
                        <em class="stars"><mark>s</mark>{{ repository.stargazers_count }}</em>
                        <em class="forks"><mark>y</mark>{{ repository.forks_count }}</em>
                        {% if repository.language %}
                            <em class="language">{{ repository.language }}</em>
                        {% endif %}
                    </p>
                    <h5>
                        {% if repository.fork %}<mark>y</mark>{% endif %}
                        <a title="{{ repository.name }}" href="{{ repository.html_url }}">{{ repository.name }}</a>
                    </h5>
                    <p class="description">{{ repository.description|default_if_none:"" }}</p>
                </div>
            {% endfor %}
        </div>
        <a href="https://github.com/AlexandreCollet" id="linkGithub" class="btn btn-green btn-icon-github" title="Se rendre sur mon profil Github">Voir mon profil Github</a>
    </section>
</section>
