<section id="home">
    <h3>Qui suis-je ?</h3>
    <div id="svgContainer">
        <svg version="1.1" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet" class="svg-content">
            <defs>
                <pattern id="image" patternUnits="userSpaceOnUse" height="100%" width="100%">
                    <image x="0" y="0" width="100%" height="100%" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/static/cv/img/photo.jpg"></image>
                </pattern>
            </defs>
            <circle fill="url(#image)" stroke="#16a6b6" stroke-width="10" cx="250" cy="250" r="200"></circle>
        </svg>
    </div><!--
    --><div id="presentation">
        Hello world ! <br><br>
        Je m'appelle Alexandre Collet, je suis actuellement étudiant à <a href='http://www.supinfo.com/'>Supinfo Caen</a> en 5ème année et en stage de fin d'études chez <a href='http://www.datexim.com/'>Datexim</a>.<br> Ces cinq années m'ont permises d'acquérir une grande expérience en développement web grâce à de nombreux <a href='#cv' title='Voir mon parcours' class='smoothScroll'>stages</a> et <a href='#folio' title='Voir mes projets' class='smoothScroll'>projets</a> réalisés. <br> <br> A la recherche d'un contrat pour novembre 2016, n'hésitez pas à <a href='#contact' title='Me contacter' class='smoothScroll'>me contacter</a> pour toutes propositions. <br><br> Bonne visite !
    </div>
</section>
